<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>脉宝</title>
	<script src="../../../asset/script/flexible.js"></script>
	<link rel="stylesheet" href="../../../asset/iconfont/iconfont.css">
	<link rel="stylesheet/less" href="../../../asset/style/index.less">
	<link rel="stylesheet/less" href="./style.less">
	<script src="../../../asset/script/less.js"></script>
</head>
<body>
<div id="app">
	<header class="mint-header">
		<div class="mint-header-button is-left">
			<a href="#" class="router-link-active">
				<button class="mint-button mint-button--default mint-button--normal">
	        <span class="mint-button-icon">
	          <i class="iconfont icon-back fz38"></i>
	        </span>
				</button>
			</a>
		</div>
		<h1 class="mint-header-title fz34">脉宝</h1>
		<div class="mint-header-button is-right">
			<a href="#" class="router-link-active">
				<button class="mint-button mint-button--default mint-button--normal">
	        <span class="mint-button-icon">
	          <i class="iconfont icon-fenxiang fz38"></i>
	        </span>
				</button>
			</a>
		</div>
	</header>
	<section class="body infor-chat">

	</section>
	<footer class="mint-footer">
		<div class="mint-tabbar is-fixed c-font">
			<a class="mint-tab-item is-selected">
				<div class="mint-tab-item-icon">
					<i class="iconfont icon-clock fz36"></i>
				</div>
				<div class="mint-tab-item-label">动态</div>
			</a>
			<a class="mint-tab-item">
				<div class="mint-tab-item-icon">
					<i class="iconfont icon-remind fz36"></i>
				</div>
				<div class="mint-tab-item-label">消息</div>
			</a>
      <a class="mint-tab-item">
        <div class="mint-tab-item-icon">
          <i class="iconfont icon-sousuo fz36"></i>
        </div>
        <div class="mint-tab-item-label">人脉</div>
      </a>
      <a class="mint-tab-item">
        <div class="mint-tab-item-icon">
          <i class="iconfont icon-account fz36"></i>
        </div>
        <div class="mint-tab-item-label">我的</div>
      </a>
		</div>
	</footer>
</div>
</body>
</html>
