<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>脉宝</title>
	<script src="../../../asset/script/flexible.js"></script>
	<link rel="stylesheet" href="../../../asset/iconfont/iconfont.css">
	<link rel="stylesheet/less" href="../../../asset/style/index.less">
	<link rel="stylesheet/less" href="./style.less">
	<script src="../../../asset/script/less.js"></script>
</head>
<body>
<div id="app">
	<header class="mint-header">
		<div class="mint-header-button is-left">
			<a href="#" class="router-link-active">
				<button class="mint-button mint-button--default mint-button--normal">
	        <span class="mint-button-icon">
	          <i class="iconfont icon-back fz38"></i>
	        </span>
				</button>
			</a>
		</div>
		<h1 class="mint-header-title fz34">脉宝</h1>
		<div class="mint-header-button is-right">
			<a href="#" class="router-link-active">
				<button class="mint-button mint-button--default mint-button--normal">
	        <span class="mint-button-icon">
	          <i class="iconfont icon-fenxiang fz38"></i>
	        </span>
				</button>
			</a>
		</div>
	</header>
	<section class="body user-info">
    <div class="uinfo">
      <div class="top-bg">
      </div>
      <div class="avatar">
        <img class="img" src="../../../asset/image/avatar.png" />
      </div>
      <div class="detail">
        <h3 class="name">王湾</h3>
        <p class="company">阿里巴巴</p>
        <p class="position">技术专家</p>
        <p class="tags">
          <span class="span">IT互联网</span>
          <span class="span">研发</span>
          <span class="span">影响力<strong class="num">98</strong></span>
        </p>
        <p class="location">广东-广州</p>
        <p class="signature">梦想还是要有的，万一实现了呢</p>
      </div>
      <div class="distinct">
        <div class="item">
          <div class="pic">
            <img class="img" src="../../../asset/image/avatar.png" />
          </div>
          <p class="desc">动态<span class="num">3</span> </p>
        </div>
        <div class="item">
          <div class="pic">
            <img class="img" src="../../../asset/image/avatar.png" />
          </div>
          <p class="desc">观点<span class="num">3</span> </p>
        </div>
        <div class="item">
          <div class="pic">
            <img class="img" src="../../../asset/image/avatar.png" />
          </div>
          <p class="desc">互动<span class="num">3</span> </p>
        </div>
        <div class="item">
          <div class="pic">
            <img class="img" src="../../../asset/image/avatar.png" />
          </div>
          <p class="desc">信用<span class="num">3</span> </p>
        </div>
        <div class="item">
          <div class="pic">
            <img class="img" src="../../../asset/image/avatar.png" />
          </div>
          <p class="desc">更多<span class="num">...</span> </p>
        </div>
      </div>
    </div>
    <div class="experience">
      <h2 class="title">工作经历</h2>
      <div class="wrap">
        <div class="item">
          <div class="avatar">
            <img class="img" src="../../../asset/image/avatar.png" />
          </div>
          <div class="content">
            <div class="company">阿里巴巴</div>
            <div class="time">2014.06-至今</div>
            <div class="desc">
              电商系统中间件研发，电商系统中间件研发，电商系统中间件研发，电商系统中间件研发，电商系统中间件研发
            </div>
            <div class="connect">
              我有<span class="num">80</span>个好友在此公司 <i class="iconfont icon-more"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="edit">
        <i class="iconfont icon-add"></i>
        <span class="text">添加工作经历</span>
      </div>
    </div>
    <div class="impression">
      <h2 class="title">
        <span class="tit">好友印象</span>
        <span class="more">全部10个 <i class="iconfont icon-more"></i> </span>
      </h2>
      <div class="wrap">
        <div class="item">靠谱</div>
        <div class="item">技术大拿</div>
        <div class="item">成熟大方</div>
        <div class="item">进取心强</div>
      </div>
    </div>
    <div class="recommand">
      <h2 class="title">看了我的人还看了</h2>
      <div class="wrap">
        <div class="item">
          <div class="avatar">
            <img class="img" src="../../../asset/image/avatar.png" />
          </div>
          <div class="info">
            <h3 class="name">Lucy</h3>
            <p class="position">腾讯科技有限公司，前端专家</p>
            <p class="connect">
              <i class="iconfont icon-account"></i>
              <span class="text">2个共同好友</span>
            </p>
          </div>
          <div class="button">
            <i class="iconfont icon-add"></i>
            <span class="text">好友</span>
          </div>
        </div>
        <div class="item">
          <div class="avatar">
            <img class="img" src="../../../asset/image/avatar.png" />
          </div>
          <div class="info">
            <h3 class="name">Lucy</h3>
            <p class="position">腾讯科技有限公司，前端专家</p>
            <p class="connect">
              <i class="iconfont icon-account"></i>
              <span class="text">2个共同好友</span>
            </p>
          </div>
          <div class="button">
            <i class="iconfont icon-add"></i>
            <span class="text">好友</span>
          </div>
        </div>
      </div>
    </div>
    <div class="action">
      <div class="button contact">我的联系方式</div>
      <div class="button share">分享名片</div>
    </div>
	</section>
	<footer class="mint-footer">
		<div class="mint-tabbar is-fixed c-font">
			<a class="mint-tab-item is-selected">
				<div class="mint-tab-item-icon">
					<i class="iconfont icon-clock fz36"></i>
				</div>
				<div class="mint-tab-item-label">动态</div>
			</a>
			<a class="mint-tab-item">
				<div class="mint-tab-item-icon">
					<i class="iconfont icon-remind fz36"></i>
				</div>
				<div class="mint-tab-item-label">消息</div>
			</a>
      <a class="mint-tab-item">
        <div class="mint-tab-item-icon">
          <i class="iconfont icon-sousuo fz36"></i>
        </div>
        <div class="mint-tab-item-label">人脉</div>
      </a>
      <a class="mint-tab-item">
        <div class="mint-tab-item-icon">
          <i class="iconfont icon-account fz36"></i>
        </div>
        <div class="mint-tab-item-label">我的</div>
      </a>
		</div>
	</footer>
</div>
</body>
</html>
