<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>脉宝</title>
	<script src="../../../asset/script/flexible.js"></script>
	<link rel="stylesheet" href="../../../asset/iconfont/iconfont.css">
	<link rel="stylesheet/less" href="../../../asset/style/index.less">
	<link rel="stylesheet/less" href="./style.less">
	<script src="../../../asset/script/less.js"></script>
</head>
<body>
<div id="app">
	<header class="mint-header">
		<div class="mint-header-button is-left">
			<a href="#" class="router-link-active">
				<button class="mint-button mint-button--default mint-button--normal">
	        <span class="mint-button-icon">
	          <i class="iconfont icon-back fz38"></i>
	        </span>
				</button>
			</a>
		</div>
		<h1 class="mint-header-title fz34">脉宝</h1>
		<div class="mint-header-button is-right">
			<a href="#" class="router-link-active">
				<button class="mint-button mint-button--default mint-button--normal">
	        <span class="mint-button-icon">
	          <i class="iconfont icon-fenxiang fz38"></i>
	        </span>
				</button>
			</a>
		</div>
	</header>
	<section class="body trend-follow">
    <div class="head-expand">
      <div class="head">
        <div class="title">
          <span class="txt">好友</span>
          <span class="txt selected">关注</span>
          <span class="txt">职言</span>
        </div>
        <div class="action">
          <span class="button sousuo">
            <i class="iconfont icon-sousuo"></i>
          </span>
          <span class="button add">
            <i class="iconfont icon-edit fz48"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="toutiao">
      <div class="image-text">
        <div class="pic">
          <img class="img" src="../../../asset/image/pic.png" />
        </div>
        <div class="info">
          <p class="title">上了名校才知道，任何人之间的差距就是...</p>
          <p class="connect"><span class="num">18</span>个同行喜欢</p>
        </div>
      </div>
      <div class="texts">
        <p class="item"><i class="iconfont icon-clock"></i><span class="txt">不就是个短信登录api吗，很复杂吗</span></p>
        <p class="item"><i class="iconfont icon-clock"></i><span class="txt">有赞百亿日志系统架构设计</span></p>
        <p class="item"><i class="iconfont icon-clock"></i><span class="txt">Java程序员必备的开发神器</span></p>
      </div>
      <div class="more">
        <span class="text">查看更多行业头条</span>
      </div>
    </div>
    <div class="topics">
      <h2 class="title">
        你可能感兴趣的主题
        <span class="more">更多主题<i class="iconfont icon-more"></i></span>
      </h2>
      <div class="wrap">
        <div class="item">
          <div class="pic">
            <img class="img" src="../../../asset/image/avatar1.png" />
          </div>
          <div class="name">硬件研发社交群</div>
          <div class="button">
            <i class="iconfont icon-add"></i>
            <span class="text">好友</span>
          </div>
        </div>
        <div class="item">
          <div class="pic">
            <img class="img" src="../../../asset/image/avatar.png" />
          </div>
          <div class="name">职场必备学习</div>
          <div class="button">
            <i class="iconfont icon-add"></i>
            <span class="text">好友</span>
          </div>
        </div>
        <div class="item">
          <div class="pic">
            <img class="img" src="../../../asset/image/avatar3.png" />
          </div>
          <div class="name">运营同行交流</div>
          <div class="button">
            <i class="iconfont icon-add"></i>
            <span class="text">好友</span>
          </div>
        </div>
      </div>
    </div>
    <div class="recommend-list">
      <h2 class="title">猜你喜欢</h2>
      <div class="trend-item">
        <div class="trend-header">
          <div class="user">
            <div class="user-avatar">
              <img class="img" src="../../../asset/image/avatar.png" />
            </div>
            <div class="user-info">
              <h3 class="nickname">李才应</h3>
              <p class="office">上海优蝶教育科技有限公司</p>
            </div>
            <div class="user-other">
              <div class="time">
                2小时前
              </div>
              <div class="delete">
                <i class="iconfont icon-menu"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="trend-body">
          <div class="text">
            UEgood油碟教育：选择我们，终身为您护驾启航；学习终身，职业推荐终身。
          </div>
          <div class="images">
            <a href="#" class="img-wrap"><img class="img" src="../../../asset/image/pic3.png" /></a>
            <a href="#" class="img-wrap"><img class="img" src="../../../asset/image/pic1.png" /></a>
          </div>
          <div class="btns">
            <a class="btn love">
              <i class="iconfont icon-good fz42"></i>
              <span class="num">2</span>
            </a>
            <a class="btn share">
              <i class="iconfont icon-fenxiang fz42"></i>
              <span class="num">2</span>
            </a>
            <a class="btn comment">
              <i class="iconfont icon-comments fz42"></i>
              <span class="num">5</span>
            </a>
          </div>
        </div>
      </div>
    </div>
	</section>
	<footer class="mint-footer">
		<div class="mint-tabbar is-fixed c-font">
			<a class="mint-tab-item is-selected">
				<div class="mint-tab-item-icon">
					<i class="iconfont icon-clock fz36"></i>
				</div>
				<div class="mint-tab-item-label">动态</div>
			</a>
			<a class="mint-tab-item">
				<div class="mint-tab-item-icon">
					<i class="iconfont icon-remind fz36"></i>
				</div>
				<div class="mint-tab-item-label">消息</div>
			</a>
      <a class="mint-tab-item">
        <div class="mint-tab-item-icon">
          <i class="iconfont icon-sousuo fz36"></i>
        </div>
        <div class="mint-tab-item-label">人脉</div>
      </a>
      <a class="mint-tab-item">
        <div class="mint-tab-item-icon">
          <i class="iconfont icon-account fz36"></i>
        </div>
        <div class="mint-tab-item-label">我的</div>
      </a>
		</div>
	</footer>
</div>
</body>
</html>
