<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>脉宝</title>
	<script src="../../../asset/script/flexible.js"></script>
	<link rel="stylesheet" href="../../../asset/iconfont/iconfont.css">
	<link rel="stylesheet/less" href="../../../asset/style/index.less">
	<link rel="stylesheet/less" href="./style.less">
	<script src="../../../asset/script/less.js"></script>
</head>
<body>
<div id="app">
	<header class="mint-header">
		<div class="mint-header-button is-left">
			<a href="#" class="router-link-active">
				<button class="mint-button mint-button--default mint-button--normal">
	        <span class="mint-button-icon">
	          <i class="iconfont icon-back fz38"></i>
	        </span>
				</button>
			</a>
		</div>
		<h1 class="mint-header-title fz34">脉宝</h1>
		<div class="mint-header-button is-right">
			<a href="#" class="router-link-active">
				<button class="mint-button mint-button--default mint-button--normal">
	        <span class="mint-button-icon">
	          <i class="iconfont icon-fenxiang fz38"></i>
	        </span>
				</button>
			</a>
		</div>
	</header>
	<section class="body trend-detail">
    <div class="trend-item">
      <div class="trend-header">
        <div class="user">
          <div class="user-avatar">
            <img class="img" src="../../../asset/image/avatar2.png"/>
          </div>
          <div class="user-info">
            <h3 class="nickname">李才应</h3>
            <p class="office">上海优蝶教育科技有限公司</p>
          </div>
          <div class="user-other">
            <div class="time">
              2小时前
            </div>
            <div class="delete">
              <i class="iconfont icon-menu"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="trend-body">
        <div class="text">
          UEgood油碟教育：选择我们，终身为您护驾启航；学习终身，职业推荐终身。
        </div>
        <div class="images">
          <div class="img-wrap">
            <img class="img" src="../../../asset/image/pic3.png"/>
          </div>
        </div>
        <div class="btns">
          <a class="btn love">
            <i class="iconfont icon-good fz48"></i>
            <span class="num">2</span>
          </a>
          <a class="btn share">
            <i class="iconfont icon-fenxiang fz42"></i>
            <span class="num">1</span>
          </a>
          <a class="btn comment">
            <i class="iconfont icon-comments fz42"></i>
            <span class="num">5</span>
          </a>
        </div>
      </div>
    </div>
    <div class="trend-comments">
      <h2 class="title">全部<strong>5</strong>条评论</h2>
      <div class="wrap">
        <div class="item">
          <div class="user-avatar">
            <img class="img" src="../../../asset/image/avatar.png"/>
          </div>
          <div class="comment-info">
            <h3 class="nickname"><a href="#"> 李才应 * 团购网产品经理</a></h3>
            <p class="office">上海优蝶教育科技有限公司</p>
            <p class="comment">这个不错哦</p>
          </div>
          <div class="time">2小时前</div>
        </div>
      </div>
    </div>
	</section>
	<footer class="mint-footer">
		<div class="mint-tabbar is-fixed c-font">
			<a class="mint-tab-item is-selected">
				<div class="mint-tab-item-icon">
					<i class="iconfont icon-clock fz36"></i>
				</div>
				<div class="mint-tab-item-label">动态</div>
			</a>
			<a class="mint-tab-item">
				<div class="mint-tab-item-icon">
					<i class="iconfont icon-remind fz36"></i>
				</div>
				<div class="mint-tab-item-label">消息</div>
			</a>
      <a class="mint-tab-item">
        <div class="mint-tab-item-icon">
          <i class="iconfont icon-sousuo fz36"></i>
        </div>
        <div class="mint-tab-item-label">人脉</div>
      </a>
      <a class="mint-tab-item">
        <div class="mint-tab-item-icon">
          <i class="iconfont icon-account fz36"></i>
        </div>
        <div class="mint-tab-item-label">我的</div>
      </a>
		</div>
	</footer>
</div>
</body>
</html>
