<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>脉宝</title>
  <script src="../../../asset/script/flexible.js"></script>
  <link rel="stylesheet" href="../../../asset/iconfont/iconfont.css">
  <link rel="stylesheet/less" href="../../../asset/style/index.less">
  <link rel="stylesheet/less" href="./style.less">
  <script src="../../../asset/script/less.js"></script>
</head>
<body>
<div id="app">
  <header class="mint-header">
    <div class="mint-header-button is-left">
      <a href="#" class="router-link-active">
        <button class="mint-button mint-button--default mint-button--normal">
	        <span class="mint-button-icon">
	          <i class="iconfont icon-back fz38"></i>
	        </span>
        </button>
      </a>
    </div>
    <h1 class="mint-header-title fz34">脉宝</h1>
    <div class="mint-header-button is-right">
      <a href="#" class="router-link-active">
        <button class="mint-button mint-button--default mint-button--normal">
	        <span class="mint-button-icon">
	          <i class="iconfont icon-fenxiang fz38"></i>
	        </span>
        </button>
      </a>
    </div>
  </header>
  <section class="body user-home">
    <div class="user-info">
      <div class="avatar">
        <img src="../../../asset/image/avatar.png" class="img"/>
      </div>
      <div class="info">
        <h3 class="name">王湾</h3>
        <p class="company">阿里巴巴</p>
        <p class="position">技术专家</p>
      </div>
      <div class="action">
        <i class="iconfont icon-more"></i>
      </div>
    </div>
    <div class="user-tag">
      <div class="tag">
        <h3 class="number">272</h3>
        <div class="title">
          <i class="iconfont icon-account"></i>
          <span class="text">好友</span>
        </div>
      </div>
      <div class="tag">
        <h3 class="number">62</h3>
        <div class="title">
          <i class="iconfont icon-move"></i>
          <span class="text">影响力</span>
        </div>
      </div>
      <div class="tag">
        <h3 class="number">236</h3>
        <div class="title">
          <i class="iconfont icon-clock"></i>
          <span class="text">访客</span>
        </div>
      </div>
    </div>
    <div class="user-action">
      <div class="group">
        <a class="mint-cell">
          <span class="mint-cell-mask"></span>
          <div class="mint-cell-left"></div>
          <div class="mint-cell-wrapper">
            <div class="mint-cell-title">
              <div class="title">
                <i class="iconfont icon-good" style="color: orangered;"></i>
                <span class="text">成为认证用户</span>
              </div>
            </div>
            <div class="mint-cell-value is-link"><span></span></div>
            <i class="mint-cell-allow-right"></i>
          </div>
          <div class="mint-cell-right"></div>
        </a>
        <a class="mint-cell">
          <span class="mint-cell-mask"></span>
          <div class="mint-cell-left"></div>
          <div class="mint-cell-wrapper">
            <div class="mint-cell-title">
              <div class="title">
                <i class="iconfont icon-email" style="color: red;"></i>
                <span class="text">钱包</span>
              </div>
            </div>
            <div class="mint-cell-value is-link"><span></span></div>
            <i class="mint-cell-allow-right"></i>
          </div>
          <div class="mint-cell-right"></div>
        </a>
      </div>
      <div class="group">
        <a class="mint-cell">
          <span class="mint-cell-mask"></span>
          <div class="mint-cell-left"></div>
          <div class="mint-cell-wrapper">
            <div class="mint-cell-title">
              <div class="title">
                <i class="iconfont icon-favorite" style="color: rgb(59, 121, 254);"></i>
                <span class="text">我的动态</span>
              </div>
            </div>
            <div class="mint-cell-value is-link"><span></span></div>
            <i class="mint-cell-allow-right"></i>
          </div>
          <div class="mint-cell-right"></div>
        </a>
        <a class="mint-cell">
          <span class="mint-cell-mask"></span>
          <div class="mint-cell-left"></div>
          <div class="mint-cell-wrapper">
            <div class="mint-cell-title">
              <div class="title"><i class="iconfont icon-pin" style="color: rgb(59, 121, 254);"></i>
                <span class="text">我的主题</span>
              </div>
            </div>
            <div class="mint-cell-value is-link"><span></span></div>
            <i class="mint-cell-allow-right"></i>
          </div>
          <div class="mint-cell-right"></div>
        </a>
      </div>
      <div class="group">
        <a class="mint-cell">
          <span class="mint-cell-mask"></span>
          <div class="mint-cell-left"></div>
          <div class="mint-cell-wrapper">
            <div class="mint-cell-title">
              <div class="title">
                <i class="iconfont icon-comments"></i>
                <span class="text">意见反馈</span>
              </div>
            </div>
            <div class="mint-cell-value is-link"><span></span></div>
            <i class="mint-cell-allow-right"></i>
          </div>
          <div class="mint-cell-right"></div>
        </a>
        <a class="mint-cell">
          <span class="mint-cell-mask"></span>
          <div class="mint-cell-left"></div>
          <div class="mint-cell-wrapper">
            <div class="mint-cell-title">
              <div class="title">
                <i class="iconfont icon-xiaoxi"></i>
                <span class="text">在线客服</span>
              </div>
            </div>
            <div class="mint-cell-value is-link"><span></span></div>
            <i class="mint-cell-allow-right"></i>
          </div>
          <div class="mint-cell-right"></div>
        </a>
        <a class="mint-cell">
          <span class="mint-cell-mask"></span>
          <div class="mint-cell-left"></div>
          <div class="mint-cell-wrapper">
            <div class="mint-cell-title">
              <div class="title">
                <i class="iconfont icon-password"></i>
                <span class="text">隐私</span>
              </div>
            </div>
            <div class="mint-cell-value is-link"><span></span></div>
            <i class="mint-cell-allow-right"></i></div>
          <div class="mint-cell-right"></div>
        </a>
        <a class="mint-cell">
          <span class="mint-cell-mask"></span>
          <div class="mint-cell-left"></div>
          <div class="mint-cell-wrapper">
            <div class="mint-cell-title">
              <div class="title">
                <i class="iconfont icon-set"></i>
                <span class="text">设置</span>
              </div>
            </div>
            <div class="mint-cell-value is-link"><span></span></div>
            <i class="mint-cell-allow-right"></i>
          </div>
          <div class="mint-cell-right"></div>
        </a>
      </div>
    </div>
  </section>
  <footer class="mint-footer">
    <div class="mint-tabbar is-fixed c-font">
      <a class="mint-tab-item is-selected">
        <div class="mint-tab-item-icon">
          <i class="iconfont icon-clock fz36"></i>
        </div>
        <div class="mint-tab-item-label">动态</div>
      </a>
      <a class="mint-tab-item">
        <div class="mint-tab-item-icon">
          <i class="iconfont icon-remind fz36"></i>
        </div>
        <div class="mint-tab-item-label">消息</div>
      </a>
      <a class="mint-tab-item">
        <div class="mint-tab-item-icon">
          <i class="iconfont icon-sousuo fz36"></i>
        </div>
        <div class="mint-tab-item-label">人脉</div>
      </a>
      <a class="mint-tab-item">
        <div class="mint-tab-item-icon">
          <i class="iconfont icon-account fz36"></i>
        </div>
        <div class="mint-tab-item-label">我的</div>
      </a>
    </div>
  </footer>
</div>
</body>
</html>
